---
- name: "Install for Debian OS"
  include_tasks: install-Debian.yml
  when: ansible_os_family == 'Debian'

- name: "Install for RedHat OS"
  include_tasks: install-RedHat.yml
  when: ansible_os_family == 'RedHat'

- name: "Install for RedHat OS"
  import_tasks: configure.yml